/* Section */
.section__wrapper {
  max-width: var(--layout-width);
  margin: 0 auto;
  padding: 80px 24px;
}

/* Headling */

.headling {
  margin-bottom: 40px;
}

.headling__top {
  font-weight: 600;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  color: var(--color-text-header);
  margin: 0 0 24px 0;
}

.headling__bottom {
  text-align: center;
  color: var(--color-text-paragraph);
  margin: 0;
}

@media (max-width: 640px) {
  .headling__top {
    font-size: 36px;
    text-align: start;
  }
  .headling__bottom {
    text-align: start;
  }
}

.headling-2 {
  margin-bottom: 50px;
}

.headling-2__top {
  border-radius: 8px;
  padding: 4px 16px;
  width: 124px;
  height: 29px;
  font-size: 15px;
  color: #fff;
  background: var(--color-bg-green);
  margin: 0 0 16px 0;
}

.unactive_BG {
  background: none;
}

.headling-2__header {
  font-weight: 800;
  font-size: 32px;
  line-height: 120%;
  color: var(--color-text-header);
  margin: 0 0 16px 0;
}

.headling-2__bottom {
  color: var(--color-text-paragraph);
  margin: 0;
}

/*  Pallete */

.pallete {
  border-radius: 8px;
  fill: #fff;
  box-shadow: 0 0 32px 0 rgba(78, 93, 124, 0.16);
  display: flex;
  flex-direction: column;
  padding: 48px 40px;
}

/* Price-sheet */

.price-sheet {
  line-height: 120%;
  color: var(--color-text);
  display: grid;
  grid-template-columns: 180px 108px;
  justify-content: baseline;
  align-content: baseline;
  margin-bottom: 40px;
}

.top-border {
  border-top: 1px solid rgba(78, 93, 124, 0.08);
}

.price-sheet__item {
  border-bottom: 1px solid rgba(78, 93, 124, 0.08);
  padding: 16px 0;
}

.attantion {
  padding: 8px 0;
}

.attantion-color {
  display: block;
  color: var(--color-text-inverse);
  background-color: var(--color-bg-yellow);
  border-radius: 8px;
  width: 99px;
  height: 36px;
  padding: 8px 14px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.whithout-border-top {
  padding: 0 0 16px 0;
}

.whithout-border-bottom {
  border-top: none;
  border-bottom: none;
  padding: 16px 0 0 0;
}

.button {
  border: none;
  font-weight: 800;
  border-radius: 47px;
  padding: 12px 63px;
  width: 289px;
  height: 48px;
  background-color: var(--color-button);
  color: var(--color-text-inverse);
}

.button:hover {
  background-color: var(--color-button-hover);
}

/* Palletes */

.palletes {
  display: grid;
  grid-template-columns: repeat(auto-fit, 380px);
  justify-content: center;
  gap: 42px;
}

.inverse-pallete {
  background-color: var(--color-bg-inverse);
  color: var(--color-text-inverse);
  border-color: rgba(255, 255, 255, 0.16);
}

.inverse-pallete-1 {
  color: var(--color-text-paragraph-inverse);
}

.inver {
  background-color: var(--color-button-inverse);
  color: var(--color-button-inverse-text);
}
