:root {
  --color-text-header: #000;
  --color-text-paragraph: rgba(78, 93, 124, 0.5);
  --color-text-paragraph-inverse: rgba(255, 255, 255, 0.6);
  --color-text: #4e5d7c;
  --color-text-inverse: #fff;
  --color-bg: #fff;
  --color-bg-yellow: #ffc736;
  --color-bg-green: #1abc9c;
  --color-bg-inverse: #357efe;
  --color-button: #357efe;
  --color-button-inverse: white;
  --color-button-hover: #2b68d0;
  --color-button-inverse-text: #357efe;

  --border-8: 8px;
  --border-10: 10px;
  --layout-width: 1920px;
}

* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  background: var(--color-bg);
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
}
