main {
  background-color: #fffefe;
  line-height: 100%;
  font-family: "Open Sans", sans-serif;
}

h1 {
  color: #333333;
  font-size: 36px;
  font-weight: 700;
}
p {
  color: #666666;
  font-size: 18px;
  font-weight: 400;
}
a {
  color: #089fe0;
  font-size: 18px;
  font-weight: 400;
}
h2 {
  color: #333333;
  font-size: 16px;
  font-weight: 600;
}
input {
  background-color: #f5f5f5;
  width: 394px;
  height: 44px;
}
button {
  color: #ffffff;
  background-color: #089fe0;
  width: 394px;
  height: 44px;
}
.checkbox {
  width: 15px;
  height: 16px;
}
label {
  color: #666666;
  font-size: 14px;
  font-weight: 400;
}
.rules {
  color: #089fe0;
  font-size: 14px;
  font-weight: 400;
}
